.button:hover {
   -fx-background-image: url("/images/buttonLong_brown.png");
   -fx-background-repeat: no-repeat;
   -fx-background-size: contain;
   -fx-background-position: center center;
   -fx-border-width: 0;
   -fx-background-radius: 0;
   -fx-background-color: transparent;
}
.button{
   -fx-background-image: url("/images/buttonLong_brownp.png");
   -fx-background-repeat: no-repeat;
   -fx-background-size: contain;
   -fx-border-width: 0;
   -fx-background-color: transparent;  
   -fx-background-radius: 0;
   -fx-background-position: center center;
   -fx-font-family: munro;
   -fx-font-size: 35px;
   -fx-text-alignment: left;
}

.button:hover {
   -fx-background-image: url("/images/buttonLong_brown.png");
   -fx-background-repeat: no-repeat;
   -fx-background-size: contain;
   -fx-background-position: center center;
   -fx-background-color: transparent;  
   -fx-border-color: transparent;
   -fx-border-width: 0;
   -fx-background-radius: 0;
}

.button:pressed {
   -fx-background-image: url("/images/buttonLong_brown.png"); 
   -fx-background-repeat: no-repeat;
   -fx-background-size: contain;
   -fx-background-position: center center;
   -fx-border-width: 0;
   -fx-background-radius: 0;
   -fx-background-color: transparent;  
}

#title{
   -fx-background-image: url("/images/Title.png"); 
   -fx-background-size: contain;
   -fx-background-repeat: no-repeat;
   -fx-background-position: center center;
}

.dialog-pane{
   -fx-background-image: url("/images/howtoplay.png");
   -fx-background-repeat: no-repeat;
   -fx-background-size: cover;

}
.dialog-pane  .button {
   -fx-background-size: cover;
   -fx-font-size: 20px;
   -fx-max-height: 15px;
   -fx-max-width: 250px;

}